# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
  
# Firebase options file
lib/firebase_options.dart

# Build + Platform folders
build/
android/
ios/
linux/
web/
macos/
windows/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Flutter/Dart
.dart_tool/

# Additional entries from testing branch
/build/
/ios/
/android/.vscode/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcworkspace/contents.xcworkspacedata
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.cc
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.cc
.flutter-plugins
.flutter-plugins-dependencies
